.hidden{
    display: none;
     
     /* visibility:hidden; */
}

#outputName{
    border: none;
}

#outputAmount{
    border: none;
}

.products{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}